<% @title="Find a Nanny" %>
<div class="container" id="search-bar">
  <%= render 'pet_nannies/search' %>
</div>
<div class="map-with-cards">
  <div class="row">
    <div class="col-6">
      <div class="cards">
        <% @pet_nannies.each do |nanny| %>

          <div class="card flashcard" id="pet-nanny-card" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( "<%= nanny.user.profile_picture %>" )'>
            <p class="card-nanny-name"><%= nanny.user.name %></p>
            <p class="card-nanny-info"><%= nanny.user.address %></p>
            <p class="card-nanny-info">$<%= nanny.rate_cents / 100 %>.00</p>
            <p class="card-nanny-info">
            <%= link_to nanny do %>
              see details
            <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div id="map"
        class="ml-1 map-style"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoibW9tbzkyIiwiYSI6ImNrb2VpMGo3ODBhbHIyd3A1YWZuN25wdzcifQ.MKAgjPuWD2U1HmCyHydg9A">
      </div>
    </div>
  </div>
</div>

