<% @title="Find a Nanny" %>

<div class="container">
  <%# <h1 class= "my-3">Find a Nanny</h1> %>
  <div class="row my-3" id="search-bar">
    <div class="col-3" style="padding-right:0">
      <p class="font-weight-bold">
        Location
      </p>
      <%= form_tag pet_nannies_path, method: :get, id: "search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-right",
        style: "border-radius:20px 0px 0px 20px",
        placeholder: "address, city, zip",
        required: "required"
      %>
    </div>
    <div class="col-3" style="padding-left:0; padding-right:0">
      <p class="font-weight-bold">
        Check in
      </p>
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "start date",
        required: "required"
      %>
    </div>

    <div class="col-3" style="padding-left:0">
      <p class="font-weight-bold">
        Check out
      </p>
      <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control rounded-left",
        style: "border-radius:0 20px 20px 0;",
        placeholder: "end date",
        required: "required"
      %>
    </div>
    <div class="col-3">
    <%= submit_tag "Search", class: "button positioning-botton" %>
  </div>
  </div>
  <% end %>
  </div>

<div class="map-with-cards">
  <div class="row">
    <div class="col-6">
      <div class="cards">
        <% @pet_nannies.each do |nanny| %>

          <div class="card flashcard" id="pet-nanny-card" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( "<%= nanny.user.profile_picture %>" )'>
            <p class="card-nanny-name"><%= nanny.user.name %></p>
            <p class="card-nanny-info"><%= nanny.user.address %></p>
            <p class="card-nanny-info">$<%= nanny.rate_cents / 100 %>.00</p>
            <p class="card-nanny-info">
            <%= link_to nanny do %>
              see details
            <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div id="map"
        class="ml-1 map-style"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoibW9tbzkyIiwiYSI6ImNrb2VpMGo3ODBhbHIyd3A1YWZuN25wdzcifQ.MKAgjPuWD2U1HmCyHydg9A">
      </div>
    </div>
  </div>
</div>

