<div class="container p-5">
 <div class="d-flex card-white">
   <div class="p-5 flex-even text-center">
      <h1>Hello, I'm <%= @pet_nanny.user.name %></h1>
      <img src="<%= @pet_nanny.user.profile_picture %>" class="profile-circle m-3"  alt="pet_name">
      <p class="mt-3">
        <span class="font-weight-bold">Address:</span> <%= @pet_nanny.user.address %>
      </p>
      <p>
        <span class="font-weight-bold">Phone Number:</span> <%= @pet_nanny.user.phone_number %>
      </p>
      <p>
        <span class="font-weight-bold">Email:</span> <%= @pet_nanny.user.email %>
      </p>
      <% @bookings.each do |booking|%>
        <div>
          <% if booking.user == current_user  %>
            <%= booking.pet.name %>
            <%= booking.star_time %>
            <%= booking.end_time %>
            <%= booking.status %>
          <% end %>
        </div>
      <% end %>
        <h3 class="mt-5">Book me</h3>
        <%= simple_form_for @booking  do |f|  %>
        <%= f.input :pet_id, collection: current_user.pets, required: true %>
        <%= f.input :star_time, wrapper_html: { class: 'flex-select' }, as: :date, html5: true, required: true, label: "Start Date" %>
        <%= f.input :end_time, wrapper_html: { class: 'flex-select' }, as: :date, html5: true, required: true, label: "End Date" %>
        <%= f.input :pet_nanny_id, input_html: {value: @pet_nanny.id}, as: :hidden  %>
        <%= f.submit "Book", class: "button" %>
        <% end %>

        <div>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'pet_nanny_id', @pet_nanny.id %>
            <%= submit_tag 'Purchase', class: 'button' %>
          <% end %>
        </div>
    </div>
    <div class="flex-even d-flex flex-column justify-content-center align-items-center">
      <div class="text-left">
      <h2 class="text-center">Introduction</h2>
      <p>
        <%= @pet_nanny.introduction %>
      </p>
      </div>
      <div class="reviews mt-5">
         <% @pet_nanny.reviews.first(3).each do |review| %>
          "<%= review.content %>"
          <%= select_tag "pet_nanny_review", options_for_select([ 1, 2, 3, 4, 5], review.rating), disabled: true, id:"pet_nanny_review_rating" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
