<div class="container pt-5 pb-5">
  <div class="card-white p-5 text-center" id="introduction">
    <h1>Hello, I'm <%= @pet_nanny.user.name %> </h1>
    <img src="https://m.media-amazon.com/images/M/MV5BY2ViNDIwNmUtZGQ5Ni00MDYxLWI5YTktNWU1NGRlYWQ1ZDg0XkEyXkFqcGdeQXVyOTAyMDgxODQ@._V1_UY1200_CR166,0,630,1200_AL_.jpg" class="img-round"  alt="pet_name">
    <p>
      <span class="font-weight-bold">Address:</span> <%= @pet_nanny.user.address %>
    </p>
    <p>
      <span class="font-weight-bold">Phone Number:</span> <%= @pet_nanny.user.phone_number %>
    </p>
    <p>
      <span class="font-weight-bold">Email:</span> <%= @pet_nanny.user.email %>
    </p>
    <% if current_user.bookings.last %>
      <% if current_user.bookings.last.pet_nanny == @pet_nanny %>
      Your booking was successfull have a happy holiday
      <% end %>
    <% else %>
      <h3 class="mt-5"> Book me</h3>
      <%= simple_form_for @booking  do |f|  %>
      <%= f.input :pet_id, collection: current_user.pets  %>
      <%= f.input :star_time, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
      <%= f.input :end_time, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
      <%= f.input :pet_nanny_id, input_html: {value: @pet_nanny.id}, as: :hidden  %>
      <%= f.submit "Book", class: "btn btn-info" %>
      <% end %>
    <% end %>

  </div>
</div>
