<% @title="Pet Profile" %>
<!-- <h2><%= @pet.name %></h2>
<h2><%= @pet.vet_record %></h2>
<h2><%= @pet.medications %></h2>
<h2><%= @pet.dietary %></h2>
<img src="https://longhaultrekkers.com/wp-content/uploads/2018/10/DSC_0434-1-600x403.jpg" alt=""> -->

  <div class="container pt-5 pb-5">
      <div class="card-white p-5 text-center" id="introduction">
        <h1>Hello, I'm <%= @pet.name %> </h1>
          <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
        <p>
          <span class="font-weight-bold">Vet Record:</span> <%= @pet.vet_record %>
        </p>
        <p>
          <span class="font-weight-bold">Medication:</span> <%= @pet.medications %>
        </p>
         <p>
          <span class="font-weight-bold">Dietary:</span> <%= @pet.dietary %>
        </p>
      </div>
  </div>
