
<div class="card-product mb-5">
  <img src= "<%= current_user.profile_picture %>" /> 
  <div class="card-product-infos">
    <h2 style="font-size:30px;" > <%= current_user.name %> </h2>
    <p>You made your booking on <strong>Petscape</strong>, Details below: </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-9">
      <div class="card-product">
        <div class="card-product-infos w-100">
          <div class="d-flex justify-content-between w-100">
            <div>
              <h2> <%= booking.star_time %> </h2>
              <i class="fas fa-dog"></i>
              <p>Booking_ID <strong><%= booking.pet_nanny.user.name %></strong>, </p>
            </div>
            <div>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= booking.pet_nanny.user.profile_picture %>" style="border-radius: 50%;" />
            </div>
          </div>
        <div class="card-product-infos">
          <h2> <%= booking.star_time %> </h2>
          <i class="fas fa-dog"></i>
          <p>Booking_ID <strong><%= booking.pet_nanny.user.name %></strong>, </p>
          <% if !booking.pet_nanny_review.present? %>
            <%= link_to "Leave a review meow", new_booking_pet_nanny_review_path(booking) %>
          <% else %>
             <p>You already left a review meow</p>
          <% end %>
          <%= link_to "Chat with the nanny", booking_booking_updates_path(booking) %>
        </div>
      </div>
    </div>
    <%end%>
   </div>
</div>


