<% @title="Bookings" %>

<div class="container">
  <div class="header-style1">
    <h2 class="my-5">
      <strong><%= current_user.name.capitalize%>'s current bookings: </strong>
    </h2>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>

    <div class="col-4">

      <div class="card-trip">
        <% if booking.pet.photo.attached? %>
          <%= cl_image_tag booking.pet.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <p>
            <strong><%= booking.pet_nanny.user.name %></strong>, from <strong><%= booking.star_time.strftime('%a %d %b %Y') %></strong> to <strong><%= booking.end_time.strftime('%a %d %b %Y') %></strong>

            </p>
            <p class="my-2">
            <%= booking.pet_nanny.user.address %>
            </p>
            <% if !booking.pet_nanny_review.present? %>
            <div>
            <i class="fas fa-calendar-week"></i>
            <%= link_to "Leave a review meow", new_booking_pet_nanny_review_path(booking) %>
            </div>
          <% else %>
            <p>Your Review:</p>
            <p>
             "<%= booking.pet_nanny_review.content %>"
            </p>
             <% booking.pet_nanny_review.rating.times do %>
             <i class="fas fa-star"></i>
             <% end %>
          <% end %>
            <div>
              <i class="fas fa-calendar-week"></i>
              <%= link_to "Chat with the nanny", booking_booking_updates_path(booking) %>
            </div>
        </div>

            <h2 class="card-trip-pricing">$<%= (booking.amount_cents / 100) * (booking.end_time - booking.star_time).to_i %></h2>

             <% if booking.pet_nanny.user.photo.attached? %>
          <%= cl_image_tag booking.pet_nanny.user.photo.key, crop: :fill, class: "card-trip-user avatar-bordered" %>
        <% end %>
        </div>
        </div>
      </div>
    <%end%>
   </div>
</div>


