

<div class="container">
  <div>
    <h2 class="my-5">
      <strong> Welcome <%= current_user.name.capitalize%> ! </strong>
    </h2>
    <h3 class="mt-5 mb-3">
      <strong> Bookings </strong>
    </h3>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>

    <div class="col-4">

      <div class="card-trip">
        <% if booking.pet.photo.attached? %>
          <%= cl_image_tag booking.pet.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <p>
              <%= booking.pet_nanny.user.name %>, from <%= booking.star_time.strftime('%a %d %b %Y') %> to <%= booking.end_time.strftime('%a %d %b %Y') %>

            </p>
            <h2 class="my-2">
            Location
            </h2>
            <% if !booking.pet_nanny_review.present? %>
            <div>
            <i class="fas fa-calendar-week"></i>
            <%= link_to "Leave a review meow", new_booking_pet_nanny_review_path(booking) %>
            </div>
          <% else %>
             <p>You already left a review meow</p>
          <% end %>
            <div>
              <i class="fas fa-calendar-week"></i>
              <%= link_to "Chat with the nanny", booking_booking_updates_path(booking) %>
            </div>
        </div>

            <h2 class="card-trip-pricing">$<%= booking.amount %></h2>

             <% if booking.pet_nanny.user.photo.attached? %>
          <%= cl_image_tag booking.pet_nanny.user.photo.key, crop: :fill, class: "card-trip-user avatar-bordered" %>
        <% end %>
        </div>
        </div>
      </div>
    <%end%>
   </div>
</div>


