<h1>What we do</h1>
  <p>
    Petscape is the first market place that connects pet owners with qualified,
    pet loving nannies who are eager to care for your pet while you’re on travel.
    Simple log on to the portal, put in your location and pet’s info, and see all
    of the qualified pet nannies in your area. Don’t miss out on your honey moon
    in Santorini (Greece) because you can’t find a nanny to care for your pet.
    Travel stress free, pet free!
  </p>


  <%= form_tag pet_nannies_path, method: :get do %>
     <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Write a city"
    %>
    <%= date_field_tag :start_date,
      params[:start_date],
      class: "form-control",
      placeholder: "start date"
    %>
    <%= date_field_tag :end_date,
      params[:end_date],
      class: "form-control",
      placeholder: "end date"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
