<% @title="Petscape" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/druc0epi3/image/upload/v1623185558/karsten-winegeart-qy0BHykaq0E-unsplash_o6kxbf.jpg);">

<div class="navbar navbar-expand-sm navbar-light navbar-petscape mx-5 my-0" style="background-color: rgba(201, 76, 76, 0); ">
      <div class="logo d-flex flex-column justify-content-center">
        <%= link_to cl_image_tag("14f2e99cd91947d087adf07bdc718c58_1_ozq2xn.png"), root_path %>
      </div>
      <%= link_to "#", class: "navbar-brand" do %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.photo.key %>" />
              <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path("14f2e99cd91947d087adf07bdc718c58_vgtntb.png") %>" />
              <% end %>

              <div class="dropdown-menu dropdown-menu-right dropdown-petscape" aria-labelledby="navbarDropdown">


                <%= link_to "Add Pet", new_pet_path, class: "dropdown-item #{ current_page?(new_pet_path) ? 'font-weight-bold' : '' }" %> <%# Ignacio's pending changes %>
                <%= link_to pets_path, class: "dropdown-item d-flex justify-content-between #{ current_page?(pets_path) ? 'font-weight-bold' : '' }" do %>
                  <span> my pets </span>
                  <span> <%= current_user.pets.count %> </span>
                  <% end %>
                  <hr class="dropdown-divider">
                <%= link_to "Find a Pet Nanny", pet_nannies_path, class: "dropdown-item #{ current_page?(pet_nannies_path) ? 'font-weight-bold' : '' }" %>
                <%= link_to "Become a pet nanny", new_pet_nanny_path, class: "dropdown-item #{ current_page?(new_pet_nanny_path) ? 'font-weight-bold' : '' }" %>
                 <hr class="dropdown-divider">
                 <%= link_to bookings_path, class: "dropdown-item d-flex justify-content-between #{ current_page?(bookings_path) ? 'font-weight-bold' : '' }" do %>
                  <span> My Bookings </span>
                  <span> <%= current_user.bookings.count %> </span>
                  <% end %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "nav-link test" %>
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link test" %>
          <% end %>
        </ul>
      </div>
</div>
<div class="container">
    <%= form_tag pet_nannies_path, method: :get, id: "search-form" do %>
  <h1 style="margin-top: 150px;">
    Travel. Pet free.
  </h1>
      <div class="row p-5" style="">
        <div class="col-4" style="padding-right:0">

          <p class="font-weight-bold">
            Location
          </p>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-right",
            style: "border-radius:20px 0px 0px 20px;",
            placeholder: "address, city, zip",
            required: "required"
            %>
        </div>


        <div class="col-4" style="padding-left:0; padding-right:0">
          <p class="font-weight-bold">
            Check in
          </p>
          <%= date_field_tag :start_date,
          params[:start_date],
          class: "form-control",
          placeholder: "start date",
          required: "required"
          %>
        </div>

        <div class="col-4" style="padding-left:0" >
          <p class="font-weight-bold">
            Check out
          </p>
          <%= date_field_tag :end_date,
          params[:end_date],
          class: "form-control rounded-left",
            style: "border-radius:0 20px 20px 0;",
          placeholder: "end date",
          required: "required"
          %>
        </div>
        <div class="col-12 text-center">
          <%= submit_tag "find a pet nanny", class: "button" %>
        </div>
      </div>
    <% end %>


  </div>
</div>







