<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">

    <div class="row">
      <div class="col-4" style="padding-right:0">
        <p class="font-weight-bold">
          Location
        </p>
        <%= form_tag pet_nannies_path, method: :get, id: "search-form" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-right",
            style: "border-radius:20px 0px 0px 20px;",
          placeholder: "address, city, zip",
          required: "required"
          %>
      </div>


      <div class="col-4" style="padding-left:0; padding-right:0">
        <p class="font-weight-bold">
          check in
        </p>
        <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "start date",
        required: "required"
        %>
      </div>

      <div class="col-4" style="padding-left:0" >
        <p class="font-weight-bold">
          check out
        </p>
        <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control rounded-left",
          style: "border-radius:0 20px 20px 0;",
        placeholder: "end date",
        required: "required"
        %>
      </div>
    </div>

    <div class="col-12 text-center">
      <%= submit_tag "Search", class: "button" %>
       <% end %>
    </div>

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512552288940-3a300922a275?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);">
  <div class="container">

  <h1>Why we exist</h1>

    <p class="mb-8">
      <strong>
        Pet owners are often faced with the moral dilemma of who will care for their pet while they’re away, which can sometimes make travel burdensome. This frustration is what gave birth to PetScape! The first market place that connects pet owners with qualified pet loving nannies who can care for their pets while they’re away on travel.


      </strong>
    </p>

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470526446583-d0fe2363d8cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">

  <h1>How it works</h1>

    <p class="mb-4">
      <strong>

        Pet Scape is the first market place that connects pet owners with qualified, pet loving nannies who are egar to care for your pet while you’re on travel. Simply log on to the portal, put in your location and pets info, and see all of the qualified pet nannies in your area. Don’t miss out on your next travel date because you can’t find a nanny to care for your pet. Travel stress free, pet free!

      </strong>
    </p>

  </div>
</div>







