<h1>Dashboard</h1>
<div class="container">
<h3 class="text-center">Welcome <%= "#{current_user.name}"%>!</h3>
<div class="container">
  <div class="cards">
    <% @user_pets.each do |pet| %>
      <% if pet.photo.attached?  %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
              <%= pet.name %>
            </div>
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.austinpetsalive.org/assets/placeholder/dog-placeholder.svg')">
              <%= pet.name %>
            </div>
          <% end %>
    <% end %>
  </div>
</div>
<div class="two-buttons">
<%= link_to "My Pets", pets_path, class: "dropdown-item" %>
<%= link_to "Add Pet", new_pet_path, class: "dropdown-item" %> <%# Ignacio's pending changes %>
<%= link_to "Find a Pet Nanny", pet_nannies_path, class: "dropdown-item" %>
<%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
</div>
</div>
