<h1>Pet nanny dashboard</h1>
<% if current_user.pet_nanny? %>

  <div class="card-product mb-5">
    <img src= "<%= current_user.profile_picture %>" />
    <div class="card-product-infos">
      <h2 style="font-size:30px;" > <%= current_user.name %> </h2>
      <p>You made your booking on <strong>Petscape</strong>, Details below: </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-9">
        <div class="card-product">
          <div class="card-product-infos">
            <h2> <%= booking.star_time %> </h2>
            <i class="fas fa-dog"></i>
            <p>Booking_ID <strong><%= booking.pet_nanny.user.name %></strong>, </p>
            <% if !booking.pet_review.present? %>
              <%= link_to "Leave a review meow", new_booking_pet_review_path(booking) %>
            <% else %>
              <p>You already left a review meow</p>
            <% end %>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
<% end  %>

<%= link_to "Become a pet nanny", new_pet_nanny_path, class: "dropdown-item" %>

