<!DOCTYPE html>
<html>
<head>
  <title>Petscape</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
  <% unless should_hide? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-petscape">
     
      <div class="logo d-flex flex-column justify-content-center">
        <%= link_to cl_image_tag("14f2e99cd91947d087adf07bdc718c58_1_ozq2xn.png"), root_path %>
      </div>
      <%= link_to "#", class: "navbar-brand" do %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.photo.key %>" />
              <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path("14f2e99cd91947d087adf07bdc718c58_vgtntb.png") %>" />
              <% end %>
              <div class="d-flex">
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "My Pets", pets_path, class: "dropdown-item" %>
                <%= link_to "Add Pet", new_pet_path, class: "dropdown-item" %> <%# Ignacio's pending changes %>
                <%= link_to "Find a Pet Nanny", pet_nannies_path, class: "dropdown-item" %>
                <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
                <%= link_to "Become a pet nanny", new_pet_nanny_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
              </div>
            </li>
            <% else %>
              <%= link_to "Find a Pet Nanny", pet_nannies_path, class: "nav-link" %> <%# Ignacio's pending changes %>
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
