<!DOCTYPE html>
<html>
<head>
  <title>Petscape</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <div class="navbar navbar-expand-sm navbar-light navbar-petscape">
    <div class="logo">
      <%= cl_image_tag("14f2e99cd91947d087adf07bdc718c58_vgtntb.png") %>
    </div>
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pet Owner", pet_nannies_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pet Nanny", new_pet_nanny_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dashboard">Dashboard</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render "partials/banner", header: "Fuck Yo Pets, Take A Holiday"%>
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="d-flex align-items-end flex-column" style="height: 400px;">
    <%= link_to "About Us", about_path, class: "mt-auto p-4" %>
  </div>
</body>
</html>
